<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      MTJudge
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">MTJudge</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Base do projeto pronta</strong>
    <p>Consulta de regras de Magic: The Gathering.</p>
    <p>Use esta tela web para desenvolvimento e depuração das próximas funcionalidades.</p>
  </div>
</ion-content>
