<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <nav class="main-tabs" aria-label="Navegação principal">
    <a routerLink="/home" routerLinkActive="tab-selected"><ion-icon name="search-outline"></ion-icon><span>Busca</span></a>
    <a routerLink="/history" routerLinkActive="tab-selected"><ion-icon name="time-outline"></ion-icon><span>Histórico</span></a>
    <a routerLink="/performance" routerLinkActive="tab-selected"><ion-icon name="analytics-outline"></ion-icon><span>Desempenho</span></a>
  </nav>
</ion-app>
